name: React CI/CD with Vercel

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install Frontend Dependencies
        working-directory: ./Frontend/smart-waste-management-system
        run: npm install

      - name: Build Frontend
        working-directory: ./Frontend/smart-waste-management-system
        run: npm run build

      - name: Deploy to Vercel
        working-directory: ./Frontend/smart-waste-management-system
        run: |
          npm install -g vercel
          vercel --prod --yes \
            --token=${{ secrets.RADHEY_VERCEL_TOKEN }} \
            --project=${{ secrets.VERCEL_PROJECT_ID }} \
            --org=${{ secrets.VERCEL_ORG_ID }}
